<div class="container" style="width:500px ; padding-top:70px ; padding-bottom:70px">
    <div class="row">
        <div class="col-md-12">
            <div class="well login-box">
                <!--<uib-alert class="alert shake" type="{{resetPasswordController.alert.type}}" dismiss-on-timeout="2000" close="resetPasswordController.closeAlert()" ng-if="resetPasswordController.isshowalert">
                    {{resetPasswordController.alert.msg}}
                </uib-alert>-->
                <form name="ResetPasswordForm" novalidate>
                    <legend class="text-center">Reset Password</legend>
                    <p class="text-danger" ng-show="resetCtrl.error">{{resetCtrl.error}}</p>
                    <p class="text-info" ng-show="resetCtrl.info">{{resetCtrl.info}}</p>


                    <div class="form-group">
                        <div class="alert alert-info" style="width:400px" ng-if="(resetCtrl.isSuccess==true)">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>We have just sent you a new password for your account. Please check your email and <a href="/#/login"><strong>log in</strong></a> again.
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-weight:normal" for="username" required ng-maxlength="50">Username</label><span style="color:red">*</span>
                        <input maxlength="50" id="username" name="username" ng-model="resetCtrl.user.username" value="" placeholder="Enter Username" type="text" class="form-control" required />
                        <!--Validate username-->
                        <div class="has-error">
                            <!--Show message required and maxlength error-->
                            <span class="help-block" ng-if="ResetPasswordForm.username.$dirty && (ResetPasswordForm.username.$error.required)">This field is required.</span>
                            <span class="help-block" ng-if="ResetPasswordForm.username.$dirty && (ResetPasswordForm.username.$error.maxlength)">This field must be less than or equal 50 characters.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-weight:normal" for="email">Email</label><span style="color:red">*</span>
                        <input maxlength="50" type="email" class="form-control" ng-model="resetCtrl.user.email" name="email" placeholder="e.g abc@harveynash.vn" required ng-pattern="resetCtrl.mailRegex">
                        <!--Validate personal email-->
                        <div class="has-error">
                            <!--Show message invalid format error-->
                            <span class="help-block" ng-if="ResetPasswordForm.email.$error.pattern">Invalid email format</span>
                            <!--Show message max length email-->
                            <span class="help-block" ng-if="ResetPasswordForm.email.$dirty && (ResetPasswordForm.email.$error.required)">This field is required.</span>
                            <span class="help-block" ng-if="ResetPasswordForm.email.$dirty && (ResetPasswordForm.email.$error.maxlength)">This field must be less than or equal 50 characters.</span>

                        </div>
                    </div>
                    <a href="#login">
                        <p>Login Again
                        </p>
                    </a>
                    <input type="submit" ng-disabled="ResetPasswordForm.$invalid" class="btn btn-primary" value="Send" ng-click="resetCtrl.submit()" />

                </form>
            </div>
        </div>
    </div>
</div>